<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.ontrucks.peopleads">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.TransferActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppThemeHome"/>
        <activity android:name=".activity.UpdateActivity" />
        <activity
            android:name=".activity.DetailNotifActivity"
            android:theme="@style/AppThemeHome" />
        <activity
            android:name=".activity.NotificationActivity"
            android:theme="@style/AppThemeHome" />
        <activity android:name=".activity.TncActivity" />
        <activity android:name=".activity.Verify_Activity" />
        <activity android:name=".activity.SignupActivity" />
        <activity android:name=".activity.SignupActivity2" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppThemeHome" />
    </application>

</manifest>